@page "/testpage"

@using Develix.AzureDevOps.Connector.Service;
@using System.Diagnostics.CodeAnalysis;

<h3>TestPage</h3>

<MudDateRangePicker Label="Pick Date Range" @bind-DateRange="dateRange" />
<MudTextField Label="Iteration Name" @bind-Value="name" />
<MudButton OnClick="Click">Click</MudButton>
@code {
    [Inject]
    [NotNull]
    public IWorkItemService? workItemService { get; set; }

    private string name = string.Empty;
    private DateRange dateRange = new(DateTime.Now, DateTime.Now.AddDays(5));

    private async Task Click()
    {
        _ = await workItemService.CreateIteration("TestProject", name, dateRange.Start ?? default, dateRange.End ?? default);
    }
}
